@keyframes attempt {
  0%   { background-color: red; }
  100% { background-color: yellow; }
}

.speaker {
  animation-name: attempt;
  animation-duration: 4s;
  animation-iteration: infinite;
  background-color: red;
}
