/*@keyframes attempt {
  50%  { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

* {
  animation: attempt 3s infinite; 
}*/

.list-enter {
  opacity: 0.01;
  color: red; 
}

.list-enter .list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  color: red; 
}

.list-leave {
  opacity: 1;
}

.list-leave .list-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
