/* Fonts */
@font-face {
  font-family: Gotham;
  src: url('../assets/GothamHTF-Light.ttf');
}

@font-face {
  font-family: Gotham;
  src: url('../assets/GothamHTF-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Gotham;
  src: url('../assets/GothamHTF-Medium.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Gotham;
  src: url('../assets/GothamHTF-Thin.ttf');
  font-weight: 100;
}

html {
  height: 100%;
}

body, #hook, .container {
  height: inherit; 
}

body { 
  font-family: Roboto, Helvetica Neue, sans-serif;
  color: #F6EDDC;
  background-color: #FAF6ED;
  margin: 0px;
}

h1 {
  font-family: Gotham, Roboto, Helvetica Neue, sans-serif;
  font-weight: normal;
  font-size: 4em;
  color: #FAF6ED;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 6px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
} 

.topbar {
  flex-basis: auto;

  background-color: #586875;
  width: 100%; 
  margin-bottom: 0px;
  border-bottom: 4px solid #666060;
  padding-top: 2vh;
  padding-bottom: 0vh;
}

.sidebar {
  width: 25%;

  background-color: #A5C8CA;
  border-right: 4px solid #666060;
}

.current {
  display: flex; 
  flex-direction: column;

  width: 74%;
  height: 88.5%;
  margin: 0px;
  
  justify-content: center;
  align-items: center;
}

hr {
  margin-top: 0px;
  margin-bottom: 5px;
  color: black;
}

#form {
  width: 100%;
}

div.awesomplete {
  width: 100%;
}

input.awesomplete {
  margin: 0;
  width: 97%;
  border: 0;
  padding: 0;
  padding-left: 3%;
}

input[type="text"] {
  display: block;
  height: 37px;
  font-size: 24px;
  font-weight: bold;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

#add {
  font-size: 18px; 
  margin-top: 3px;
  justify-content: center;
}


.list {
  height: 100%;
  width: 100%; 
}

.speaker  {
  display: flex;  
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  font-size: 2em;
  font-weight: bold;
  color: #364653;
  
  padding: 2px;
  padding-left: 10px;
  border-bottom: 1px dashed #702F2E;
  
  overflow: auto;
}

.speakerName { 
  overflow: auto;
}

.remove {
  background-image: url('../assets/icons.png');
  background-repeat: no-repeat;
  background-size: 40px 80px;
  background-position: -0px -20px;
  margin: 0px; 
 
  height: 20px;
  width: 20px;
  flex-shrink: 0;
}

.speaker:hover, .timerMain:hover {
  background-color: #F6EDDC;
}

.remove:hover {
  background-position: -0 -0px;
}

.timerContainer {
  display: flex;
  flex-direction: row;

  color: #586875;
}

.curName {
  font-weight: bold;
  font-size: 2.35em;
  color: #364653;
}

.timerContainer {
  padding-bottom: 15%;
}

.timerMain {
  font-size: 20vw;
  padding-left: 15px;
  padding-right: 25px;
  border-radius: 20px;
}

.pause {
  font-size: 5vw;
  line-height: 5vw;
  text-align: center;
}

.timerButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.increase, .decrease, .pause {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: #586875;
  width: 4vw;
  height: 4vw;

  font-family: Roboto, sans-serif;
  font-size: 3vw;
  line-height: 0; 
}

/*
.increase, .decrease {
  background-image: url('../res/icons.png');
  background-repeat: no-repeat;
  background-size: 100px 200px;
}

.increase {
  background-position: 0px -100px;
}

.decrease {
  background-position: 0px -150px;
}
*/

.pause {
  font-size: 2vw;
}

.decrease, .pause {
  margin-top: 20%;
}

.increase:hover, .decrease:hover, .pause:hover {
  background-color: #C3B299;
  background-color: #BDD6D2;

}

@media (max-width: 500px) {
  .container {
    flex-direction: column; 
    flex-wrap: nowrap;
  }
  .current {
    order: 2;
    width: 100%;
    height: initial;
  }
  .sidebar {
    order: 3;
    width: 100%;
  }
  .timer {
    margin-bottom: 50px;
  }
  #input, .awesomplete {
    width: 100%;
  }
}
