body  { 
  font-family: Helvetica Neue;
}

.speakerList  {
  border: 1px solid black;
  width: 100px; 
  margin-top: 10px;
  margin-bottom: 15px; 
}

.speaker  {
  font-weight: bold;
  border: 1px dashed black;
}
